<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/jquery-ui-1.8.23.custom.css" />
    <link rel="stylesheet" href="/css/trusty.css" />
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="/js/jquery-ui-1.8.23.custom.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.js"></script>
    <script type="text/javascript">
    </script>
    <title>Trusty</title>
  </head>
  <body data-spy="scroll">

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
	<div class="container">
          <a class="brand" href="./index.html">Trusty<span style="font-size:14px;margin-left: 20px"> - 信頼できる情報でつなぐ - </span></a>
	  <ul class="nav" style="margin-left: 540px;margin-right: 0px; margin-top:5px;">
	    <li><a href="" class="btn">Log in</a></li>
	  </ul>
	</div>
      </div>
    </div>
    
    <hr class="soften" style="padding-top: 60px;">

    <div class="container submenu">
      <div class="item"><a href="/">ニュースランキング</a></div>
      <div class="splitter">|</div>
      <div class="item"><a href="/company">会社別ランキング</a></div>
      <div class="splitter">|</div>
      <div class="item" style="margin-right:0"><a href="/user">ユーザランキング</a></div>
    </div>
    <br style="margin-top: 20px;" />
    <div class="container">
      <div class="row-fluid">
	<ul class="thumbnails">
          <li class="span6" style="margin-bottom:0; color:#EE6b08"><h2>買い予想ランキング</h2></li>
          <li class="span6" style="margin-bottom:0; color:#188A28"><h2>売り予想ランキング</h2></li>
	</ul>
      </div>

      <!-- 1段目ここから -->
      <div class="row-fluid">
	<ul class="thumbnails example-sites">
          <li class="span6">
	    <!-- ここから -->
	    <div class="thumbnail">

	      <div class="company">
		<div class="info">
		  [2788] Apple, Inc. 7,040(08/24)
		</div>
		<div class="chart">
		  <img src="http://minkabu.jp/chart/timeline/2160_03m.png?1345838644" />
		</div>
		<div class="yosou">
		  <div class="buy">
		    <img src="http://minkabu.jp/images/stock/em_buy.gif" />
		    <div class="count">
		      13
		    </div>
		    <div class="button">
		      <button class="btn btn-small">賛成</button>
		    </div>
		  </div>
		  <div class="sell">
		    <img src="http://minkabu.jp/images/stock/em_sell.gif" />
		    <div class="count">
		      5
		    </div>
		    <div class="button">
		      <button class="btn btn-small">賛成</button>
		    </div>
		  </div>
		</div>
		<br style="clear:both;" />
		<hr />
		<div class="newsHeader">
		  <h3>米陪審員評決、アップルが10.51億ドルの損害受けたと認める</h3>
		</div>
		<div class="postauthor">
		  <span>
		    <img src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/274591_100001989891165_509513364_q.jpg" width="32" />
		  </span>
		  <span>杉浦 正明</span>
		</div>
		<div class="newsContents">
		  ８月２４日、米アップルと韓国のサムスン電子の特許訴訟は、米陪審員が評決を下し、
		  アップルがサムスンから１０億５１００万ドルの損害を受けたことを認めた。
		  <br/>
		  <a href="" >(続きを読む)</a>
		</div>

		<hr />
		<div class="newsHeader">
		  <h3>アップル幹部、テレビ事業参入は時期尚早との見解を示唆</h3>
		</div>
		<div class="postauthor">
		  <span>
		    <img src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/274591_100001989891165_509513364_q.jpg" width="32" />
		  </span>
		  <span>杉浦 正明</span>
		</div>
		<div class="newsContents">
Appleがテレビ事業に革命を起こすのを待っている人は、しばらく時間を持て余すことになるかもしれない。

　Appleの幹部で、同社のインターネットソフトウェアおよびサービス事業を率いるEddy Cue氏は、Pacific Crest SecuritiesのアナリストAndy Hargreaves氏との会話の中で、テレビ事業について慎重な姿勢を示した。このHargreaves氏によるメモを、Fortuneが米国時間8月24日に掲載している。
		  <a href="" >(続きを読む)</a>
		</div>

		<hr />
		<div class="newsHeader">
		  <h3>来店者3億人強：数字で見るアップルストア</h3>
		</div>
		<div class="postauthor">
		  <span>
		    <img src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/274591_100001989891165_509513364_q.jpg" width="32" />
		  </span>
		  <span>杉浦 正明</span>
		</div>
		<div class="newsContents">
		  アップルストアは毎年50店ずつ新規オープンしており、2012年末には世界で400店舗になりそうだ。スタッフ削減の動きについても紹介。
		  　アップルは8月18日、カナダのブリティッシュコロンビア州バンクーバーに374番目のアップルストア、そしてノヴァスコシア州ハリファックスに375番目のアップルストアを開店した。		  
		  <a href="" >(続きを読む)</a>
		</div>

	    </div>
      	    <!-- ここまで -->

          </li>
          <li class="span6">

	    <!-- ここから -->
	    <div class="thumbnail">
	      <div class="company">
		<div class="info">
		  [6573.T] シャープ 192 (08/24)
		</div>
		<div class="chart">
		  <img src="http://minkabu.jp/chart/timeline/6753_03m.png?1345838470" />
		</div>
		<div class="yosou">
		  <div class="buy">
		    <img src="http://minkabu.jp/images/stock/em_buy.gif" />
		    <div class="count">
		      3
		    </div>
		    <div class="button">
		      <button class="btn btn-small">賛成</button>
		    </div>
		  </div>
		  <div class="sell">
		    <img src="http://minkabu.jp/images/stock/em_sell.gif" />
		    <div class="count">
		      23
		    </div>
		    <div class="button">
		      <button class="btn btn-small">賛成</button>
		    </div>
		  </div>
		</div>
		<br style="clear:both;" />
		<hr />

		<div class="newsHeader">
		  <h3>シャープが検討する追加リストラ・財務改善対策</h3>
		</div>
		<div class="postauthor">
		  <span>
		    <img src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/274591_100001989891165_509513364_q.jpg" width="32" />
		  </span>
		  <span>杉浦 正明</span>
		</div>
		<div class="newsContents">
		  シャープ＜6753.T＞が追加リストラの検討を始めている。
		  鴻海精密工業＜2317.TW＞からの出資は当初の６６９億円より減少しそうで、
		  ６月末で約３６００億円のコマーシャルペーパー（ＣＰ）と
		  <a id="sharp" href="#">(続きを読む)</a>
		</div>
		<hr />
		<div class="newsHeader">
		  <h3>シャープが9月めど追加リストラ策定へ、鴻海依存さらに濃く</h3>
		</div>
		<div class="postauthor">
		  <span>
		    <img src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/274591_100001989891165_509513364_q.jpg" width="32" />
		  </span>
		  <span>杉浦 正明</span>
		</div>
		<div class="newsContents">
		  シャープ(6753.T: 株価, ニュース, レポート)が追加リストラの検討を加速させている。９月めどに主力取引銀行に提示する見通し。鴻海精密工業(2317.TW: 株価, 企業情報, レポート)との出資条件の見直し交渉は８月中に完了させ、経営再建を軌道に乗せたい考え。
		  <a id="sharp" href="#">(続きを読む)</a>
		</div>
		<hr />
		<div class="newsHeader">
		  <h3>シャープ株が午後一段高、鴻海が20％出資交渉との報道で</h3>
		</div>
		<div class="postauthor">
		  <span>
		    <img src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/274591_100001989891165_509513364_q.jpg" width="32" />
		  </span>
		  <span>杉浦 正明</span>
		</div>
		<div class="newsContents">
		  １７日午後の東京株式市場でシャープ(6753.T: 株価, ニュース, レポート)が値を上げている。日本経済新聞・電子版で、台湾の鴻海精密工業(2317.TW: 株価, 企業情報, レポート)がシャープ本体への出資比率を当初の９．９％から２０％程度に引き上げるよう求めていることが同日、分かったと報じられ、材料視されている。
		  <a id="sharp" href="#">(続きを読む)</a>
		</div>


	    </div>
      	    <!-- ここまで -->

          </li>
          </li>
	</ul>
      </div>
      <!-- 1段目ここまで -->

    </div>

    <hr class="soften">

    <!-- Footer   ================================================== -->
    <footer class="footer">
      <div class="container">
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>Designed and built by Masaaki Sugiura</p>
      </div>
    </footer>

  </body>
</html>

