<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/jquery-ui-1.8.23.custom.css" />
    <link rel="stylesheet" href="/css/trusty.css" />
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="/js/jquery-ui-1.8.23.custom.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.js"></script>
    <script type="text/javascript">
      jQuery(document).ready(function(){

      $("#sharp").click(function(){
      $("#detail").dialog({
      modal: true,
      minWidth: 600,
      });
      });
      });

    </script>
    <title>Trusty</title>
  </head>
  <body data-spy="scroll">

    <div id="detail" style="display: none">
      <div class="detailContainer">
	<div class="newsImage">
	  <img src="http://amd.c.yimg.jp/amd/20120824-00000101-reut-000-1-view.jpg" />
	</div>
	
	<div class="newsHeader">
	  <h3>シャープが検討する追加リストラ・財務改善対策</h3>
	</div>
	<div class="postauthor">
	  <span>
	    <img src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/274591_100001989891165_509513364_q.jpg" width="32" />
	  </span>
	  <span>杉浦 正明</span>
	</div>
	<div class="newsContents">
	  <p>
	  シャープ(6753.T: 株価, ニュース, レポート)が追加リストラの検討を始めている。鴻海精密工業(2317.TW: 株価, 企業情報, レポート)からの出資は当初の６６９億円より減少しそうで、６月末で約３６００億円のコマーシャルペーパー（ＣＰ）と約２０００億円の転換社債（ＣＢ）の返済原資が課題。
	  </p>
	  <p>
	    現預金は約２１００億円にとどまっており、みずほコーポレート銀行と三菱東京ＵＦＪ銀行の主要取引銀行２行に金融支援を要請した。今期中に固定資産の売却と在庫削減で１５００億円の資金を生み出す財務改善対策も進めている。
	  </p>
	  <p>
	    ＜鴻海との提携＞
	    <br />
	    ＊鴻海が１株あたり５５０円で９．９％のシャープ株を取得し、６６９億円を払い込む条件（３月２７日合意）は、シャープ株価下落を背景に、見直し協議に入っている。鴻海によると、８月末までに共同声明を発表する予定。払い込み期日は来年３月２６日。シャープ株の２４日終値は１９２円。
	  </p>
	</div>
	<hr />
	<div class="company">
	  <div class="info">
	    [6573.T] シャープ 192 (08/24)
	  </div>
	  <div class="chart">
	    <img src="http://minkabu.jp/chart/timeline/6753_03m.png?1345838470" />
	  </div>
	  <div class="yosou">
	    <div class="buy">
	      <img src="http://minkabu.jp/images/stock/em_buy.gif" />
	      <div class="count">
		3
	      </div>
	      <div class="button">
		<button class="btn btn-small">賛成</button>
	      </div>
	      <div class="frends">
		<img src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/274591_100001989891165_509513364_q.jpg" width="64" />
		<img src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/275584_100001110627216_1219883235_q.jpg" width="64" />
	      </div>
	    </div>
	    <div class="sell">
	      <img src="http://minkabu.jp/images/stock/em_sell.gif" />
	      <div class="count">
		23
	      </div>
	      <div class="button">
		<button class="btn btn-small">賛成</button>
	      </div>
	      <div class="frends">
		<img src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/195611_100000175323053_7667336_q.jpg" width="64" />
		<img src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/565203_100003680089207_1147845932_q.jpg" width="64" />
		<img src="http://profile.ak.fbcdn.net/hprofile-ak-ash2/275944_1519018174_1732332175_q.jpg" width="64" />
		<img src="http://profile.ak.fbcdn.net/hprofile-ak-ash2/371844_100002219808328_1596661113_q.jpg" width="64" />
		<img src="http://profile.ak.fbcdn.net/hprofile-ak-ash2/70634_521366167_1100665236_q.jpg" width="64" />
		<img src="http://profile.ak.fbcdn.net/hprofile-ak-ash2/161107_100003251630173_81478927_q.jpg" width="64" />
	      </div>
	    </div>
	  </div>
	</div>
      </div>
    </div>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
	<div class="container">
          <a class="brand" href="./index.html">Trusty<span style="font-size:14px;margin-left: 20px"> - 信頼できる情報でつなぐ - </span></a>
	  <ul class="nav" style="margin-left: 540px;margin-right: 0px; margin-top:5px;">
	    <li><a href="" class="btn">Log in</a></li>
	  </ul>
	</div>
      </div>
    </div>
    
    <hr class="soften" style="padding-top: 60px;">

    <div class="container submenu">
      <div class="item"><a href="#">ニュースランキング</a></div>
      <div class="splitter">|</div>
      <div class="item"><a href="/company">会社別ランキング</a></div>
      <div class="splitter">|</div>
      <div class="item" style="margin-right:0"><a href="/user">ユーザランキング</a></div>
    </div>

    <div class="container">
      <!-- 1段目ここから -->
      <div class="row-fluid">
	<ul class="thumbnails example-sites">
          <li class="span4">
	    <!-- ここから -->
	    <div class="thumbnail">
	      <div class="newsImage">
		<img src="http://amd.c.yimg.jp/amd/20120825-00000016-reut-000-2-view.jpg" />
	      </div>

	      <div class="newsHeader">
		<h3>米陪審員評決、アップルが10.51億ドルの損害受けたと認める</h3>
	      </div>
	      <div class="postauthor">
		<span>
		  <img src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/274591_100001989891165_509513364_q.jpg" width="32" />
		</span>
		<span>杉浦 正明</span>
	      </div>
	      <div class="newsContents">
	      ８月２４日、米アップルと韓国のサムスン電子の特許訴訟は、米陪審員が評決を下し、
	      アップルがサムスンから１０億５１００万ドルの損害を受けたことを認めた。
	      <br/>
	      <a href="" >(続きを読む)</a>
	      </div>
	      <hr />
	      <div class="company">
		<div class="info">
		  [2788] Apple, Inc. 7,040(08/24)
		</div>
		<div class="chart">
		  <img src="http://minkabu.jp/chart/research/2160_03m.png?1345752240" />
		</div>
		<div class="yosou">
		  <div class="buy">
		    <img src="http://minkabu.jp/images/stock/em_buy.gif" />
		    <div class="count">
		      3
		    </div>
		    <div class="button">
		      <button class="btn btn-small">賛成</button>
		    </div>
		  </div>
		  <div class="sell">
		    <img src="http://minkabu.jp/images/stock/em_sell.gif" />
		    <div class="count">
		      5
		    </div>
		    <div class="button">
		      <button class="btn btn-small">賛成</button>
		    </div>
		  </div>
		</div>
		<br style="clear:both;" />
	    </div>
      	    <!-- ここまで -->

          </li>
          <li class="span4">

	    <!-- ここから -->
	    <div class="thumbnail">
	      <div class="newsImage">
		<img src="http://amd.c.yimg.jp/amd/20120824-00000101-reut-000-1-view.jpg" />
	      </div>

	      <div class="newsHeader">
		<h3>シャープが検討する追加リストラ・財務改善対策</h3>
	      </div>
	      <div class="postauthor">
		<span>
		  <img src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/274591_100001989891165_509513364_q.jpg" width="32" />
		</span>
		<span>杉浦 正明</span>
	      </div>
	      <div class="newsContents">
		シャープ＜6753.T＞が追加リストラの検討を始めている。
		鴻海精密工業＜2317.TW＞からの出資は当初の６６９億円より減少しそうで、
		６月末で約３６００億円のコマーシャルペーパー（ＣＰ）と
		<a id="sharp" href="#">(続きを読む)</a>
	      </div>
	      <hr />
	      <div class="company">
		<div class="info">
		  [6573.T] シャープ 192 (08/24)
		</div>
		<div class="chart">
		  <img src="http://minkabu.jp/chart/research/2160_03m.png?1345752240" />
		</div>
		<div class="yosou">
		  <div class="buy">
		    <img src="http://minkabu.jp/images/stock/em_buy.gif" />
		    <div class="count">
		      3
		    </div>
		    <div class="button">
		      <button class="btn btn-small">賛成</button>
		    </div>
		  </div>
		  <div class="sell">
		    <img src="http://minkabu.jp/images/stock/em_sell.gif" />
		    <div class="count">
		      23
		    </div>
		    <div class="button">
		      <button class="btn btn-small">賛成</button>
		    </div>
		  </div>
		</div>
		<br style="clear:both;" />
	    </div>
      	    <!-- ここまで -->

          </li>
          <li class="span4">

	    <!-- ここから -->
	    <div class="thumbnail">
	      <div class="newsImage">
		<img src="http://amd.c.yimg.jp/amd/20120824-00000050-rps-000-0-view.jpg" />
	      </div>

	      <div class="newsHeader">
		<h3>富士重工が逆行高…大手証券株価が目標株価840円に引き上げ</h3>
	      </div>
	      <div class="postauthor">
		<span>
		  <img src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/274591_100001989891165_509513364_q.jpg" width="32" />
		</span>
		<span>杉浦 正明</span>
	      </div>
	      <div class="newsContents">
		自動車株は全面安。
		ホンダが30円安の2616円と続落。
		日産自動車が12円安の765円、トヨタ自動車が25円高の3235円と続落した。
		こうした中、富士重工が1円高の648円と小反発。
		<a href="" >(続きを読む)</a>
	      </div>
	      <hr />
	      <div class="company">
		<div class="info">
		  [7270.T] 富士重工業 648 (08/24)
		</div>
		<div class="chart">
		  <img src="http://minkabu.jp/chart/research/2160_03m.png?1345752240" />
		</div>
		<div class="yosou">
		  <div class="buy">
		    <img src="http://minkabu.jp/images/stock/em_buy.gif" />
		    <div class="count">
		      2
		    </div>
		    <div class="button">
		      <button class="btn btn-small">賛成</button>
		    </div>
		  </div>
		  <div class="sell">
		    <img src="http://minkabu.jp/images/stock/em_sell.gif" />
		    <div class="count">
		      8
		    </div>
		    <div class="button">
		      <button class="btn btn-small">賛成</button>
		    </div>
		  </div>
		</div>
		<br style="clear:both;" />
	    </div>
      	    <!-- ここまで -->
          </li>
	</ul>
      </div>
      <!-- 1段目ここまで -->

      <!-- 2段目ここから -->
      <div class="row-fluid">
	<ul class="thumbnails example-sites">
          <li class="span4">
	    <!-- ここから -->
	    <div class="thumbnail">
	      <div class="newsImage">
		<img src="http://amd.c.yimg.jp/amd/20120824-00000083-reut-000-3-view.jpg" />
	      </div>

	      <div class="newsHeader">
		<h3>金融庁が東証にシステム障害で業務改善命令、社外専門家の検証求める</h3>
	      </div>
	      <div class="postauthor">
		<span>
		  <img src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/274591_100001989891165_509513364_q.jpg" width="32" />
		</span>
		<span>杉浦 正明</span>
	      </div>
	      <div class="newsContents">
		８月２４日、金融庁は、デリバティブ（金融派生商品）取引が停止するシステム障害が７日に生じた東京証券取引所に対し、業務改善命令を出したと発表した。
	      <br/>
	      <a href="" >(続きを読む)</a>
	      </div>
	      <hr />
	      <div class="company">
		<div class="info">
		  [4340] シンプレクス・コンサルティング. 29,150(08/24)
		</div>
		<div class="chart">
		  <img src="http://minkabu.jp/chart/research/2160_03m.png?1345752240" />
		</div>
		<div class="yosou">
		  <div class="buy">
		    <img src="http://minkabu.jp/images/stock/em_buy.gif" />
		    <div class="count">
		      3
		    </div>
		    <div class="button">
		      <button class="btn btn-small">賛成</button>
		    </div>
		  </div>
		  <div class="sell">
		    <img src="http://minkabu.jp/images/stock/em_sell.gif" />
		    <div class="count">
		      5
		    </div>
		    <div class="button">
		      <button class="btn btn-small">賛成</button>
		    </div>
		  </div>
		</div>
		<br style="clear:both;" />
	    </div>
      	    <!-- ここまで -->

          </li>
          <li class="span4">

	    <!-- ここから -->
	    <div class="thumbnail">
	      <div class="newsImage">
		<img src="http://amd.c.yimg.jp/amd/20120824-00000027-rps-000-0-view.jpg" />
	      </div>

	      <div class="newsHeader">
		<h3>欧州トヨタ、リチウムイオン電池のリサイクルを委託契約へ</h3>
	      </div>
	      <div class="postauthor">
		<span>
		  <img src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/274591_100001989891165_509513364_q.jpg" width="32" />
		</span>
		<span>杉浦 正明</span>
	      </div>
	      <div class="newsContents">
		トヨタ自動車の欧州法人、トヨタモーターヨーロッパ（TME）は8月23日、ベルギーのユミコア（Umicore）社との間で、リチウムイオンバッテリーのリサイクルに関する
		<br />
		<a href="" >(続きを読む)</a>
	      </div>
	      <hr />
	      <div class="company">
		<div class="info">
		  [7203.T] トヨタ自動車 7203 (08/24)
		</div>
		<div class="chart">
		  <img src="http://minkabu.jp/chart/research/2160_03m.png?1345752240" />
		</div>
		<div class="yosou">
		  <div class="buy">
		    <img src="http://minkabu.jp/images/stock/em_buy.gif" />
		    <div class="count">
		      23
		    </div>
		    <div class="button">
		      <button class="btn btn-small">賛成</button>
		    </div>
		  </div>
		  <div class="sell">
		    <img src="http://minkabu.jp/images/stock/em_sell.gif" />
		    <div class="count">
		      1
		    </div>
		    <div class="button">
		      <button class="btn btn-small">賛成</button>
		    </div>
		  </div>
		</div>
		<br style="clear:both;" />
	    </div>
      	    <!-- ここまで -->

          </li>
          <li class="span4">

	    <!-- ここから -->
	    <div class="thumbnail">
	      <div class="newsImage">
		<img src="http://amd.c.yimg.jp/amd/20120824-00000013-rps-000-0-view.jpg" />
	      </div>

	      <div class="newsHeader">
		<h3>ソニーモバイル、人員削減15％、本社機能などを東京に移管</h3>
	      </div>
	      <div class="postauthor">
		<span>
		  <img src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/274591_100001989891165_509513364_q.jpg" width="32" />
		</span>
		<span>杉浦 正明</span>
	      </div>
	      <div class="newsContents">
		ソニーモバイルコミュニケーションズは、東京（日本）、ルンド（スウェーデン）、北京（中国）の各開発拠点の体制・機能の変更を発表した。
		同社は、10月に本社機能と他の一部の機能をルンドから東京に移管するとともに、
		<a href="" >(続きを読む)</a>
	      </div>
	      <hr />
	      <div class="company">
		<div class="info">
		  [6758.T] ソニー 918 (08/24)
		</div>
		<div class="chart">
		  <img src="http://minkabu.jp/chart/research/2160_03m.png?1345752240" />
		</div>
		<div class="yosou">
		  <div class="buy">
		    <img src="http://minkabu.jp/images/stock/em_buy.gif" />
		    <div class="count">
		      2
		    </div>
		    <div class="button">
		      <button class="btn btn-small">賛成</button>
		    </div>
		  </div>
		  <div class="sell">
		    <img src="http://minkabu.jp/images/stock/em_sell.gif" />
		    <div class="count">
		      8
		    </div>
		    <div class="button">
		      <button class="btn btn-small">賛成</button>
		    </div>
		  </div>
		</div>
		<br style="clear:both;" />
	    </div>
      	    <!-- ここまで -->
          </li>
	</ul>
      </div>
      <!-- 2段目ここまで -->

    </div>

    <hr class="soften">

    <!-- Footer   ================================================== -->
    <footer class="footer">
      <div class="container">
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>Designed and built by Masaaki Sugiura</p>
      </div>
    </footer>

  </body>
</html>

