<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/jquery-ui-1.8.23.custom.css" />
    <link rel="stylesheet" href="/css/trusty.css" />
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="/js/jquery-ui-1.8.23.custom.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.js"></script>
    <script type="text/javascript">
    </script>
    <title>Trusty</title>
  </head>
  <body data-spy="scroll">

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
	<div class="container">
          <a class="brand" href="./index.html">Trusty<span style="font-size:14px;margin-left: 20px"> - 信頼できる情報でつなぐ - </span></a>
	  <ul class="nav" style="margin-left: 540px;margin-right: 0px; margin-top:5px;">
	    <li><a href="" class="btn">Log in</a></li>
	  </ul>
	</div>
      </div>
    </div>
    
    <hr class="soften" style="padding-top: 60px;">

    <div class="container submenu">
      <div class="item"><a href="/">ニュースランキング</a></div>
      <div class="splitter">|</div>
      <div class="item"><a href="/company">会社別ランキング</a></div>
      <div class="splitter">|</div>
      <div class="item" style="margin-right:0"><a href="/user">ユーザランキング</a></div>
    </div>
    <br style="margin-top: 20px;" />
    <div class="container">

      <!-- 1段目ここから -->
      <h2>ユーザランキング</h2>
      <div class="row-fluid">
	<ul class="thumbnails example-sites">
          <li class="span12">
	    <!-- ここから -->
	    <table class="userranking table table-striped" style="margin-top:30px;font-size: 20px;">
	      <thead>
		<tr>
		  <th>&nbsp;</th>
		  <th class="text">名前</th>
		  <th class="text">ランク</th>
		  <th>予想数</th>
		  <th>予想的中数</th>
		  <th>予想的中率</th>
		  <th>サロン</th>
		</tr>
	      <tr>
		<td><img src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/274591_100001989891165_509513364_q.jpg" /></td>
		<td class="text"><a href="">杉浦 正明</a></td>
		<td class="text">株の神様</td>
		<td>120</td>
		<td>100</td>
		<td>83%</td>
		<td><a href="#">申込</a></td>
	      </tr>
	      <tr>
		<td><img src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/275584_100001110627216_1219883235_q.jpg" /></td>
		<td class="text"><a href="">浦本 和則</a></td>
		<td class="text">株の神様</td>
		<td>120</td>
		<td>90</td>
		<td>73%</td>
		<td><a href="#">申込</a></td>
	      </tr>
	      <tr>
		<td><img src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/195611_100000175323053_7667336_q.jpg" /></td>
		<td class="text"><a href="">Kaori Yano</a></td>
		<td class="text">株の神様</td>
		<td>120</td>
		<td>80</td>
		<td>73%</td>
		<td><a href="#">申込</a></td>
	      </tr>
	      <tr>
		<td><img src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/565203_100003680089207_1147845932_q.jpg" /></td>
		<td class="text"><a href="">三井 康之</a></td>
		<td class="text">プロトレーダー</td>
		<td>120</td>
		<td>70</td>
		<td>43%</td>
		<td><a href="#">--</a></td>
	      </tr>
	      <tr>
		<td><img src="http://profile.ak.fbcdn.net/hprofile-ak-ash2/275944_1519018174_1732332175_q.jpg" /></td>
		<td class="text"><a href="">江藤 隆文</a></td>
		<td class="text">プロトレーダー</td>
		<td>100</td>
		<td>50</td>
		<td>50%</td>
		<td><a href="#">--</a></td>
	      </tr>
	      <tr>
		<td><img src="http://profile.ak.fbcdn.net/hprofile-ak-ash2/371844_100002219808328_1596661113_q.jpg" /></td>
		<td class="text"><a href="">大冨 健一</a></td>
		<td class="text">プロトレーダー</td>
		<td>40</td>
		<td>20</td>
		<td>50%</td>
		<td><a href="#">申込</a></td>
	      </tr>
	      <tr>
		<td><img src="http://profile.ak.fbcdn.net/hprofile-ak-ash2/70634_521366167_1100665236_q.jpg" /></td>
		<td class="text"><a href="">八巻 渉</a></td>
		<td class="text">プロトレーダー</td>
		<td>30</td>
		<td>15</td>
		<td>50%</td>
		<td><a href="#">--</a></td>
	      </tr>
	      <tr>
		<td><img src="http://profile.ak.fbcdn.net/hprofile-ak-ash2/161107_100003251630173_81478927_q.jpg" /></td>
		<td class="text"><a href="">Naoyuki Sato</a></td>
		<td class="text">見習い</td>
		<td>30</td>
		<td>0</td>
		<td>0%</td>
		<td><a href="#">--</a></td>
	      </tr>
	      <tr>
		<td><img src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/273902_1258429648_1252790834_q.jpg" /></td>
		<td class="text"><a href="">Murakami Takuya</a></td>
		<td class="text">見習い</td>
		<td>20</td>
		<td>0</td>
		<td>0%</td>
		<td><a href="#">--</a></td>
	      </tr>

	    </table>
      	    <!-- ここまで -->

          </li>
          </li>
	</ul>
      </div>
      <!-- 1段目ここまで -->

    </div>

    <hr class="soften">

    <!-- Footer   ================================================== -->
    <footer class="footer">
      <div class="container">
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>Designed and built by Masaaki Sugiura</p>
      </div>
    </footer>

  </body>
</html>

